.card-header-match {
    background-color: #e0d6d6;
    border-bottom: none;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
  }
  
  .card-match {
    height: 100vh; /* Adjust this to your desired height */
    margin: 45px; /* Add a gap around the card */
    
    /* Additional styling for the card */
    background-color: #c4aaaa;
    border: 1px solid #ccc;
    background-image: url();
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* css regarding modual */
  .modal {
    /* ... (your modal styling) */
    /* Make sure the modal has a position other than static */
    position: fixed; /* or absolute */
  
    /* ... (other modal styles) */
  }
  
  .modal-content {
    /* ... (your modal content styling) */
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
    /* ... (other close button styles) */
  }
  
  