.card-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-content img {
    max-width: 100%;
    height: auto;
  }
  
  .card-content p {
    margin-top: 10px;
  }
  .left-half {
    width: 100%;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
.button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    margin-right: 10px;
  }